@import "/src/components/Styles/colors";

@each $color, $value in $colors {
  .text-#{$color} {
    background-color: map-get($colors, btn-blue);
  };
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.menu {
  display: flex;
  gap: 24px;
  list-style-type: none;
  cursor: pointer;
  margin: 0;
  padding: 0;

  @media (max-width: 988px) {
    display: none;
  }

  &__item:hover {
    color: map-get($colors, btn-blue);
  }

  &__item {
    width: 80px;
    position: relative;
    font-size: 16px;
    font-weight: bold;

    &:hover {
      color: map-get($colors, btn-blue);

      &__dropdown {
        display: block;
      }
    }

    &__dropdown {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      

      a {
        padding: 8px 0 8px 0;
        display: block;
        color: rgb(255, 255, 255);
        text-decoration: none;

        &:hover {
          color: map-get($colors, btn-blue);
        }
      }
    }
  }
}

.menu__item:hover {
  color: map-get($colors, btn-blue);
}

.menu__item {
  width: 80px;
  position: relative;
  font-size: 16px;
  font-weight: bold;

  &:hover {
    color: map-get($colors, btn-blue);

    .menu__dropdown {
      display: block;
    }
  }
}

.menu__dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 8px;

  a {
    padding: 8px 0 8px 0;
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;

    &:hover {
      color: map-get($colors, btn-blue);
    }
  }
}

.add__listing-btn {
  background-color: map-get($colors, btn-blue);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  @media (max-width: 988px) {
    margin-left: auto;
    margin-right: 10px;
  }
}
