.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.row {
  display: flex;
  align-items: center;
}

.col-6 {
  width: 50%;
  flex: 0 0 50%;
}

.col {
  flex: 0 0 auto;
}

.col-12 {
  width: 100%;
}

.float-left {
  float: left !important;
}
