html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.base {
  background-color: #222;
  color: white;
  margin: 0;
}
.header {
display: flex;
flex-direction: column;
font-family: Arial, Helvetica, sans-serif;
width: 100%;
margin-bottom: 40px;
}
.contacts {
  background-color: brown;
  overflow: hidden;
}
.header__container {

}
.columns {
display: block;
}
.columns__wrapper {
  
  
}
.columns__text {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 26px; 
}
.header__logo {
  float: right;
  height: 48px;
  width: 48px;
  border-radius: 80%;
  overflow: hidden;
}
.logo__img {
  max-width: 100%;
 display: block;
}
.row {
  overflow: hidden;
  background-color: #333;
}
.row__nav {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.row .icon {
  display: none;
}
.row__container {
  float: left;
  overflow: hidden;
}

.row__container .columns {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.columns__submenu {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  z-index: 1;
}
.columns__link {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.columns__link:hover, .row__container:hover .columns {
  background-color: #555;
  color: white;
}

.row__container:hover .columns__submenu {
  display: block;
}

@media screen and (max-width:767px) {
  .row a:not(:first-child), .columns {
    display: none;
  }
  .row a.icon {
    font-size: 15px;
    float: right;
    display: block;
  }
  .row.active {
    position: relative;
  }
  .row.active .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .row.active a {
    float: none;
    display: block;
    text-align: left;
  }
  .row.active .row__container {
    float: none;
  }
  .row.active .columns__submenu {
    position: relative;
  }
  .row.active .row__container .columns {
    display: block;
    width: 100%;
    text-align: left;
  }
}
