@import "/src/components/Styles/colors";

.popup__container {
  position: relative;
  background-color: white;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 16px;
 
  @media screen and (max-width: 988px) {
    border-radius: 0;
    margin-top: 0;
  }
}


.popup__content {
  display: flex;
  align-items: center; 
  padding: 10px;

 
  @media screen and (max-width: 988px) {
    flex-direction: column;
    align-items: stretch;
    padding: 20px;
    margin-top: 16px;
  }
}

.popup__input-search,
.popup__select__property,
.popup__select__location
 {
  flex: 1; 
  border: none;
  border-right: $border-size;

 
  @media screen and (max-width: 988px) {
    border-right: none;
    margin-bottom: 10px;
  }
}

.popup__input-search,
.popup__select__property,
.popup__select__location {
  padding: 10px; 
}

.popup__btnSearch {
  background-color: map-get($colors, btn-blue);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;


  @media screen and (max-width: 988px) {
    margin-top: 10px;
    width: 100%;
  }
}

.popup__icon {
  margin: 5px; 


  @media screen and (max-width: 988px) {
    display: none;
  }
}
