@import "/src/components/Styles/colors";

.popupStatus__container {
  position: relative;
  background-color: white;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 16px;
}

.popupStatus__container::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 35%;
  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-bottom: 16px solid white;
  border-right: 16px solid transparent;
}

.popupStatus__content {
  display: flex;
  align-items: center; 
  padding: 10px;
}

.input__search,
.select__property-types,
.select__location
 {
  flex: 1; 
  border: none;
  border-right: $border-size;
}

.input__search,
.select__property-types,
.select__location {
  padding: 10px; 
}

.btn__search {
  background-color: map-get($colors, btn-blue);
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popupStatus__icon {
  margin: 5px; 
  
}