.priceSlider {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  padding: 26px;
  
  &__title {
    margin: 20px;
    padding: 60px;
    text-align: center;
    color: rgb(0, 0, 0);

    &__h1 {
      font-size: 62px;
    }
    &__h2 {
      margin-top: 10px;
      color: rgb(158, 147, 147);
      font-size: 20px;
    }
  }

  
}
