.backEnd {
  width: 100%;
  background: rgb(148, 230, 7);

  font-size: 80px;
  color: #fff;
  text-align: center;
  padding: 40px 15px;

  &__header {
    font-size: 130px;
    font-weight: 800;
  }
}