.header {
  margin-bottom: 50px;
  font-size: 20px;
}

.header__menu {
  overflow: hidden;
}

.menu__list {
  float: left;
  overflow: hidden;
  display: flex;
}

.menu__list-item {
  padding: 14px 16px;
}

.header__link {
text-decoration: none;
}

.header__link-text {
  padding: 14px 30px;
}

.header__link-submenu {
  padding: 1px 0;
  text-decoration: none;
  display: block;
  text-align: left;
}

.menu__list-dropdown {
  
  display: none;
  position: absolute;
  min-width: 160px;
  margin-top: 14px;
}

.menu__list-item:hover .menu__list-dropdown {
  display: block;
}

.icon {
  display: none;
}


