.slideshow__wrapper {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-top: 100px;
}

.slideshow__slide{
  display: none;

}

.slideshow__carpicture {
  vertical-align: middle;
  width: 100%;
  max-width: 1000px;
  max-height: 600px;
}

.slideshow__buttonPrev, .slideshow__buttonNext {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: red;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.slideshow__buttonNext {
  right: 0;
  border-radius: 3px 0 0 3px;
}