.dots {
    display: flex;
    &__item {
        margin: 0 5px;
        width: 10px;
        height: 10px;
        border: 0;
        border-radius: 100%;
        background: gray;
        opacity: 0.3;

        &:hover, &.active {
            opacity: 1;
            transition: all ease-in-out 300ms;
            cursor: pointer;
        }
    }
}

