.footer {
  background: url(https://www.free-wallpapers.su/data/media/18/big/tex0356.jpg)
    no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px 0; /* Добавляем отступ сверху и снизу */
  color: white;
  margin: 0 auto;

  &__wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 1300px;
    padding: 20px;
  }

  &__sub {
    display: flex;
    justify-content: space-between;

    &__title {
      &__h1 {
        font-size: 36px;
        margin-bottom: 16px;
      }

      &__h2 {
        color: rgb(158, 147, 147);
        font-size: 26px;
      }
    }

    &__wrapper {
      display: flex;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 60px;
      padding: 10px;
      background-color: #f8f9fa;
    }

    &__input {
      flex: 1;
      padding: 10px;
      border: none;
      border-radius: 8px 0 0 8px;
      font-size: 16px;
      background-color: #fff;
    }

    &__button {
      padding: 10px 20px;
      border: none;
      border-radius: 0 4px 4px 0;
      background-color: #007bff;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
  }

  &__container {
    margin: 20px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
  }

  &__column {
    flex: 1;
    padding: 1rem;
    margin-top: 20px;

    &__title {
      margin-bottom: 1rem;
      border-bottom: 1px solid #ccc;
    }

    &__links {
      list-style-type: none;
      padding: 0;
      margin: 0;
      color: rgb(158, 147, 147)
      
    }

    &__links li {
      margin-bottom: 0.5rem;
    }

    &__links a {
      color: rgb(158, 147, 147);
      text-decoration: none;
    }

    &__links a:hover {
      text-decoration: underline;
    }
  }

  &__rights {
    padding-top: 20px;
    text-align: center;
  }
}
