@import "/src/components/Styles/colors";

.popupRent__container {
  position: relative;
  background-color: white;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 16px;
}

.popupRent__container::before{
  content: "";
    position: absolute;
    bottom: 100%;
    left: 62%; 
    width: 0;
    height: 0;
    border-left: 16px solid transparent;
    border-bottom: 16px solid white;
    border-right: 16px solid transparent;
}


.popupRent__content {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.input__search {

  border: none;
  border-right: 1px solid #ccc;
}



.select__location {

  border: none;
  border-right: 1px solid #ccc;
}

.btn__search {
  background-color: map-get($colors, btn-blue);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}