@import "/src/components/Styles/colors";

.popup__wrapper {
  &__buttons {
    display: flex;
    gap: 26px;
    justify-content: center;

    & .popup__wrapper__button {
      position: relative;
      color: black;
      font-size: 16px;
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &.active {
        background-color: map-get($colors, btn-blue);
        color: white;
        position: relative;
      }

      &.active:before {
        content: "";
        position: absolute;
        top: 120%;
        left: 34%;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-bottom: 20px solid rgb(255, 255, 255);
        border-right: 20px solid transparent;
      }
    }

    & .popup__wrapper__button:hover {
      background-color: map-get($colors, btn-blue);
      color: white;
    }
  }
}


