@import "/src/components/Styles/colors";

.popup__wrapper {
  &__buttons {
    display: flex;
    gap: 26px;
    justify-content: center;

    & .popup__wrapper__button {
      color: black;
      font-size: 16px;
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &.active {
        background-color: map-get($colors, btn-blue);
        color: white;
      }
    }

    & .popup__wrapper__button:hover {
      background-color: map-get($colors, btn-blue);
      color: white;
    }
  }
}
