
  .slideShow {
    position: relative;
  }
  
  .slideShow__carPicture {
    width: 400px;
    height: 200px;
    display: block;
  }
  
  .slideShow__button {
    position: absolute;
    border: 2px solid #CCC;
    border-radius: 12px;
    padding: 12px;
    background: transparent;
    font-weight: bold;
    color: black;
    font-size: 1.5em;
    cursor: pointer;
    background-color: #bbb;
  }
  
  .slideShow__button:hover {
    background-color: red;
  }
  
  .slideShow__button--back {
    // display: none;
    left: 0;
  }
  
  .slideShow__button--next {
    right: 0;
  }
  
  .slideShow__wrapper {
    overflow: hidden;
    margin: 0 auto;
    position: relative;
  }
  
  .slideShow__container {
    display: inline-flex;
    left: 0;
    list-style: none;
    position: relative;
    transition: all 250ms;
  }
  
  .slideShow__slide {
    display: inline-block;
    // padding: 0 10px;
    width: 422px;
  }
  
  .slideShow__slide img {
    border: 1px solid rgba(255, 255, 255, .9);
  }
  
  .slideShow__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .slideShow__dot-item {
    margin: 0 5px;
    width: 10px;
    height: 10px;
    border: 0;
    border-radius: 100%;
    background: white;
    opacity: .3;
  }
  
  .slideShow__dot-item.active,
  .slideShow__dot-item:hover {
    opacity: 1;
    transition: all ease-in-out 300ms;
    cursor: pointer;
  }